body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
img {
    width: 500px;
}
div {
    width: 800px;
    background-color: aliceblue;
}
nav {
    background-color: aqua;
}